<div class=' row col-md-12'>
<table class="table table-striped col-md-6 " >
  <thead>
    <tr>
      <th>Eng Type</th>
      <th>Engagement Complete</th>
      <th>Testing in Progress</th>
      <th>Testing Complete Engagement is not</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of groups">
      <td>{{ item }}</td>

      <ng-container *ngFor="let status of GetTestingStatus('', item) | keyvalue">
        <td>{{ status.value }}</td>
       
      </ng-container>
    </tr>
  </tbody>
</table>
  <div class="row col-md-6">
      <div class="col-md-3 block">
          <div class="circle">
              <p class="circletext">{{GetDaysInTesting()}}</p>
          </div>
      </div>
      <div class="col-md-3 block">
          <div class="circle">
              <p class='circletext'>{{GetDeviation()}}</p>
          </div>
      </div>
    
</div>
</div>
<table class='table table-striped'>
  <thead>
    <tr>
      <th rowspan="2">Tester</th>
      <ng-container *ngFor="let item of groups">
       <th colspan="3">{{item}}</th>
      </ng-container>
      </tr>
      <tr>
      <ng-container *ngFor="let item of groups">
       
        <th>Engagement Complete</th>
        <th>Testing in Progress</th>
        <th>Testing Complete Engagement Not</th>
      
      </ng-container>
      

    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let tester of GetTesters()" (click)="clickedTester(tester)" [ngStyle]="{'background-color': getColor(tester),'opacity':getOpacity(tester)}">
      <td>{{ tester }}</td>

      <ng-container *ngFor="let item of groups">
        <ng-container *ngFor="let status of GetTestingStatus(tester, item) | keyvalue">
          <td>{{status.value}}</td>
         
        </ng-container>
               </ng-container>
    </tr>
  </tbody>
</table>
